.card-container {
  display: flex;
  align-items: center;
  width: 50rem;
  height: 30rem;
  background: var(--black-two);
  border-radius: 1rem;
  color: var(--blue-four);
  padding: 0 1rem 0 0;
}

.text-picture-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.card__img {
  border-radius: 50%;
}

.line {
  width: 20px;
  background-color: var(--blue-four);
  height: 90%;
  border-radius: 1rem;
  margin: 0 1rem;
}

.card-name,
.card-title {
  color: var(--text-white);
}

/* animation */
.card-name,
.card-title,
.card__img,
.text-description,
.line {
  transition-duration: 300ms;
  transition-timing-function: ease;
  transition-property: transform;
}

.card-container:hover .card-name {
  transform: translateX(0.2rem);
}

.card-container:hover .card-title {
  transform: translateX(0.2rem);
  transition-delay: 0.05s;
}

.card-container:hover .card__img {
  transform: translateX(0.2rem);
  transition-delay: 0.15s;
}

.card-container:hover .text-description {
  transform: translateX(0.2rem);
  transition-delay: 0.1s;
}

.card-container:hover .line {
  transform: translateX(0.2rem);
  transition-delay: 0.15s;
}
