.projects-container {
  width: 100%;
  /* border: 2px dashed rgb(199, 60, 60); */
}

.h2 {
  letter-spacing: 22px;
  font-size: 4rem;
  font-weight: 300;
  color: var(--text-white);
  padding: 0 0 24px 0;
  text-align: center;
}

.laptops-container {
  display: flex;
  justify-content: center;
  gap: 4rem;
  position: relative;
}

.laptops {
  transition: 300ms ease;
}

.laptops:hover {
  scale: 1.05;
  cursor: pointer;
}

.laptops {
  clip-path: polygon(
    0 65%,
    37% 43%,
    38% 0,
    46% 0,
    99% 30%,
    99% 80%,
    62% 100%,
    52% 100%,
    1% 71%
  );
}

.image-container-1,
.image-container-2,
.image-container-3 {
  position: relative;
}

.image-container-1::after,
.image-container-2::after,
.image-container-3::after {
  position: absolute;
  bottom: -50px;
  display: block;
  text-align: center;
  width: max-content;
  font-size: 2rem;
  font-weight: bold;
}

.image-container-1:hover::after,
.image-container-2:hover::after,
.image-container-3:hover::after {
  content: attr(data-tooltip);
  animation: tooltip-up 0.4s ease-in-out;
}

@keyframes tooltip-up {
  0% {
    transform: translateY(80px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
