.card {
  display: flex;
  align-items: center;
  width: 50rem;
  height: 30rem;
  background: var(--black-two);
  border-radius: 1rem;
  color: var(--blue-four);
  padding: 0 1rem 0 0;
}

.card__text-picture-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.card__text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: var(--text-white);
}

.card__img {
  border-radius: 50%;
}

.card__line {
  width: 20px;
  background-color: var(--blue-four);
  height: 90%;
  border-radius: 1rem;
  margin: 0 1rem;
}

/* animation */
.card__name,
.card__title,
.card__img,
.card__description,
.card__line {
  transition-duration: 300ms;
  transition-timing-function: ease;
  transition-property: transform;
}

.card:hover .card__name {
  transform: translateX(0.2rem);
}

.card:hover .card__title {
  transform: translateX(0.2rem);
  transition-delay: 0.05s;
}

.card:hover .card__img {
  transform: translateX(0.2rem);
  transition-delay: 0.15s;
}

.card:hover .card__description {
  transform: translateX(0.2rem);
  transition-delay: 0.1s;
}

.card:hover .card__line {
  transform: translateX(0.2rem);
  transition-delay: 0.15s;
}
