.about {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 4rem;
  color: var(--color-text-white);
  animation: fadeIn 1s ease-in-out;
  max-width: 100rem;
  height: auto;
  animation: fadeIn 1s ease-in-out;
}

.about__title {
  text-align: center;
  font-size: 3.6rem;
  font-weight: 400;
  font-family: var(--font-inter);
  letter-spacing: 1rem;
  backdrop-filter: blur(10px);
  box-shadow: 0px 14px 7px -4px rgba(255, 255, 255, 0.228);
  text-shadow: -4px 4px 2px var(--color-text-blue-light);
  padding: 1rem 4rem;
  margin-bottom: 2rem;
}

.about__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.about__link {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.6rem;
  padding: 0.4rem 1.2rem;
  border: 1px solid var(--color-text-white);
  border-radius: 1.6rem;
  background-color: var(--color-bg-dark);
  color: var(--color-text-white);
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  text-decoration: none;
  &:hover {
    background-color: var(--color-text-white);
    color: var(--color-text-black);
  }
}

.about__content {
  padding: 4rem;
}

.about__description {
  margin-bottom: 2rem;
  font-weight: 500;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.228);
  padding: 1rem 1.6rem;
  border-radius: 1.6rem;
  width: fit-content;
  font-weight: 100;
}

.about__intro {
  margin-bottom: 2rem;
}

li {
  list-style: none;
}

.about__h2 {
  color: var(--color-text-blue-light);
  margin-bottom: 2rem;
  background: url('/back_img.svg');
  backdrop-filter: blur(10px);
  background-repeat: no-repeat;
  padding: 1rem 3rem;
  background-size: contain;
  width: fit-content;
}

.about__h2-learning {
  background: url('/back_img_long.svg');
  background-size: contain;
  background-repeat: no-repeat;
  padding: 1rem 4rem;
}

.about__skills-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8rem;
  margin-bottom: 2rem;
  margin: 4rem auto;
  border: 2px solid #ffffff5c;
  border-radius: 10px;
  padding: 5rem 14%;
  background: #b4000061;
}

.about__skills-list-two {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8rem;
  margin-bottom: 2rem;
  margin: 4rem auto;
  border: 2px solid #ffffff5c;
  border-radius: 10px;
  padding: 20px;
  background: #b4000061;
}

.about__skills-icon {
  position: relative;
  background: radial-gradient(#ffffff60, transparent);
  padding: 1rem;
  border-radius: 1.6rem;
  transition: box-shadow 0.3s ease-in-out;
  &:hover {
    box-shadow: inset 0px 0px 20px 0px;
  }
}

.about__skills-icon:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 200%);
  padding: 0.2rem 1.6rem;
  border-radius: 1.6rem;
  background-color: var(--color-text-white);
  color: var(--color-text-black);
  animation: fadeIn 0.1s ease-in-out;
  font-weight: 500;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, 300%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 200%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Responsive */
@media screen and (max-width: 1366px) {
  .about {
    height: auto;
  }
}

@media screen and (max-width: 992px) {
  .about__content {
    padding: 4rem 0;
  }

  .about {
    padding: 4rem 2rem;
  }
}
