/* This wasn't built with mobile first approach because data shows that recruiters
   are more likely to use a desktop or laptop to view portfolios.
/* The styles are designed to be responsive, but the initial design is for larger screens. */

/* START CSS RESET */

:root {
  --blue-one: #32a6ff;
  --blue-two: #4c39ff;
  --blue-three: #090979;
  --black-one: #000000;
  --black-two: #292929;
  --white-one: #e1e1e1;
  --background-gradient: radial-gradient(circle, #4c39ff 0%, #090979 54%, #000000 100%);
  --text-white: #e1e1e1;
  --font-inter: "Inter", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 62.5%;
  line-height: 1.5;
  font-family: var(--font-inter);
}

body {
  font-size: 1.6rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-gradient: radial-gradient(
      circle,
      #4c39ff 0%,
      #090979 54%,
      #000000 100%
    );
    --text-white: #ededed;
  }
}

body {
  background: var(--background-gradient);
  color: var(--text-white);
  height: 100dvh;
}

/* END CSS RESET */

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.box {
  width: 10rem;
  height: 10rem;
  border: 1px solid var(--black-two);
}