.bento-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.6rem;
  padding: 1.6rem;
}

.bento-item {
  --row-span: 1;
  --col-span: 1;

  grid-row: span var(--row-span);
  grid-column: span var(--col-span);
  min-height: 20rem;
  border-radius: 1.2rem;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: box-shadow 0.2s ease-in-out;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.bento-item:hover {
  box-shadow: 0px 0px 10px 5px rgb(255, 255, 255);
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .bento-grid {
    --min-width: 20rem;
  }
}

@media (max-width: 768px) {
  .bento-item {
    grid-column: 1 / -1;
  }
}
