.card {
  display: flex;
  position: relative;
  width: 100%;
  height: 70%;
  background: linear-gradient(45deg, #000, transparent);
  border-radius: 1rem;
  color: var(--color-white-text);
  padding: 3rem 1rem;
  box-shadow: 0px 0px 10px 5px rgb(0 0 0 / 23%);
  animation: slideBottomToTop 0.8s ease-in-out;
}

.card__text-container {
  display: flex;
  flex-direction: column;
  color: var(--color-primary);
  margin-bottom: 3rem;
}

.card__img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 30%;
  animation: slideRightToLeft 2.6s ease-in-out 10s;
}

.card__img {
  border-radius: 50%;
}

.card__line {
  width: 4px;
  background-color: var(--color-primary);
  height: 90%;
  border-radius: 1rem;
  margin: 0 1rem 0 0;
  position: absolute;
  align-self: center;
}

.card__text-picture-container {
  margin-left: 2rem;
}

.card__description {
  line-height: 1.4;
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 3rem;
}

.card__work-tag {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--color-primary);
}

.card__circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--color-success);
}

.card__work-tag::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: var(--color-success);
  opacity: 0.8;
  animation: onlineBadge 1s ease-in-out infinite;
}

.card__name {
  margin-bottom: 0.5rem;
  color: #00ffff;
}

.card__title {
  border: 1px solid #ffffff6b;
  padding: 3px;
  text-align: left;
  font-size: 14px;
  width: fit-content;
  cursor: default;
}

/* Animations */
@keyframes onlineBadge {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 0.8;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

@keyframes slideBottomToTop {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

/* Responsive */
@media (max-width: 1366px) {
  .bento-grid {
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
  }

  .bento-item-content-0 {
    grid-column: 1 / 3;
  }

  .bento-item-content-1 {
    grid-column: 3 / 7;
  }

  .bento-item-content-2 {
    grid-column: 1 / 4;
  }

  .bento-item-content-3 {
    grid-column: 4 / 7;
  }
}

@media screen and (max-width: 992px) {
  .app-container {
    display: flex;
    flex-direction: column;
    padding: 3rem 3rem;
  }
  .app-header {
    order: 2;
  }

  .bento-grid {
    display: flex;
    flex-direction: column;
    order: 2;
  }

  .profile {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .app-main {
    display: flex;
    flex-direction: column;
  }

  .app-header {
    display: none;
  }
}
