.card {
  display: flex;
  position: relative;
  width: 100%;
  height: 70%;
  background: var(--black-two);
  border-radius: 1rem;
  color: var(--color-white-text);
  padding: 3rem 1rem;
  animation: slideBottomToTop 0.8s ease-in-out;
}

.card__text-container {
  display: flex;
  flex-direction: column;
  color: var(--color-primary);
  margin-bottom: 3rem;
}

.card__img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 30%;
  animation: slideRightToLeft 2.6s ease-in-out 10s;
}

.card__img {
  border-radius: 50%;
}

.card__line {
  width: 6px;
  background-color: var(--color-primary);
  height: 90%;
  border-radius: 1rem;
  margin: 0 1rem 0 0;
  position: absolute;
  align-self: center;
}

.card__text-picture-container {
  margin-left: 2rem;
}

.card__description {
  line-height: 1.4;
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 3rem;
}

.card__work-tag {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--color-primary);
}

.card__circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--color-success);
}

.card__work-tag::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: var(--color-success);
  opacity: 0.8;
  animation: 1s ease-in-out zoom infinite;
}

/* Animations */
@keyframes zoom {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 0.8;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

@keyframes slideBottomToTop {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
