:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  background: var(--color-bg-gradient);
}

/* Bento grid projects */
.bento-item-content-8 {
  grid-column: 1 / 3;
}

.bento-item-content-11 {
  grid-column: 1 / 3;
}

.bento-item-content-12 {
  grid-column: 3 / 5;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
